<ul>

  <h1> BOOKMARK MANAGER </h1>

<% @bookmarks.each do |bookmark| %>
  <a href= <%= bookmark.url %>><%= bookmark.title %><br> </a>
  <form action='/added_comment' method='post'>
    <input type='text' name='comment'>
    <input type='submit' value = 'Submit Comment'>
  </form>
    <%end%>

</ul>

<% @comments.each do |comment| %>
  <%= comment.text %>
  <% end %>

<form action="/add_bookmark" method="get">
  <input type="submit" value="Add bookmark">
</form>

<form action="/delete_bookmark" method="get">
  <input type="submit" value="Delete bookmark">
</form>

<form action="/update_bookmark" method="get">
  <input type="submit" value="Update bookmark">
</form>
